# 무시하고 싶은 폴더, 파일을 여기에 작성하면 git이 무시합니다.
# 공유하고 싶은 프로젝트의 최상위 디렉터리에 위치해야 합니다.

# 파일명은 그냥 파일명

# 디렉터리는 / 를 뒤에 적습니다.
.venv/

# *이 모든 문자를 의미하는 와일드 카드로 기능합니다.
*/__pycache__/

# txt 확장자를 가진 모든 파일 무시
*.txt

# !를 파일명 앞에 써주시면 앞의 규칙에서 제외라는 뜻입니다.
!test.txt
!requirements.txt